<div id="app" class="container">
	<form @submit.prevent="onsubmit">
		<div class="row kintoneplugin-row">
			<div class="col">
				<label class="kintoneplugin-label">
					設定
				</label>
			</div>
		</div>
		<div class="form-group row kintoneplugin-row">
			<div class="col-sm-4">
				名前
				<span class="kintoneplugin-require">*</span>
			</div>
			<div class="col-sm-6 kintoneplugin-input-outer">
				<input type="text" class="form-control kintoneplugin-input-text"
					v-model="config.name" required />
			</div>
		</div>
		<div class="row kintoneplugin-row">
			<div class="col-sm-4">
				テキストフィールド
				<span class="kintoneplugin-require">*</span>
			</div>
			<div class="col-sm-4 kintoneplugin-select-outer">
				<div class="kintoneplugin-select">
					<select class="form-control" v-model="config.textField" required>
						<option v-for="field in textFields" v-bind:value="field.code">
					    {{ field.label }}
					  </option>
					</select>
				</div>
			</div>
		</div>
		<div class="row kintoneplugin-row">
			<div class="col form-group">
				<button type="submit" class="kintoneplugin-button-dialog-ok">
					保存
				</button>
				<button type="button" class="kintoneplugin-button-dialog-cancel"
				  v-on:click="history.back()">
					キャンセル
				</button>
			</div>
		</div>
	</form>
</div>
